// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;

// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;


// MOBILE VERSIONS

// Main Mobile Version (0px to 500px)
@media screen and (min-width: 376px) and (max-width: 500px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            #mobilemain {
                background-color: $mainblue;
                color: white;
                height: 100vh;
                .tophomemobile {
                    display: flex;
                    .contactbutton {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $portfolios;
                        border-radius: 30px;
                        background-color: $portfolios;
                        width: 30vw;
                        height: 5vh;
                        margin: 4vh 0 0 6vw;
                        a {
                            text-decoration: none;
                            font-family: 'Inter', sans-serif;
                            color: $skillswhite;
                            font-size: 4vw;
                        }
                    }
                    .logomobile {
                        margin: 2vh 0 0 5vw;
                        img {
                            width: 20vw;
                            height: 20vw;
                        }
                    }
                    .hamburgermobile {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $portfolios;
                        border-radius: 30px;
                        background-color: $portfolios;
                        width: 30vw;
                        height: 5vh;
                        margin: 4vh 0 0 5vw;
                        .menuburger {
                            position: relative;
                            width: 9vw;
                            height: 9vw;
                        }
                        .menuburger.is-gone {
                            opacity: 0;
                            transition: .5s;
                        }
                        .closetext {
                            width: 30vw;
                            height: 5vh;
                            padding: 1vw;
                            position: absolute;
                            color: white;
                            opacity: 0;
                            z-index: 100;
                            img {
                                 width: 10vw;
                                height: 10vw;
                            }
                        }
                        .closetext.is-shown {
                            opacity: 1;
                            color: white;
                            width: 10vw;
                            height: 10vw;
                            transition: .6s;
                        }
                    }
                    .hamburgermobile.is-active {
                        color: white;
                        font-size: 3vw;
                        transition: .3s;
                    }
                }
                .mobile-nav-home {
                    position: fixed;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    height: 100vh;
                    display: block;
                    z-index: 98;
                    background-color: $mainblue;
                    margin: 0 0 0 0;
                    transition: .8s;
                    z-index: 98;
                    .mobilelogohome {
                        margin: 5vh 15vw 0 0;
                        // background-color: #023430;
                        .navlogo {
                            margin: -2vh 0 0 5vw;
                            width: 25vw;
                            height: 25vw;
                        }
                    }
                    .mobilelisthome {
                        a {
                            display: block;
                            text-align: left;
                            text-decoration: none;
                            color: white;
                            font-family: 'Inter', sans-serif;
                            font-size: 6vw;
                            font-weight: bold;
                            margin: 4vh 0 0 9vw;
                        }
                    }
                    .slidesocialsmobilehome {
                         // background-color: #023430;
                         display: flex;
                         flex-direction: row;
                         gap: 2vw;
                         margin: 5vh 0 0 8vw;
                         img {
                             width: 10vw;
                             height: 10vw;
                         }
                    }
                }
                .mobile-nav-home.slide-in {
                    left: 0;
                }
                // Need to set a CSS state that makes the
                // menu evaporate

                // BOTTOM OF MOBILE
                .bothomemobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 6vh 0 0 0;
                    .photomobile {
                        img {
                            border-radius: 50%;
                            width: 65vw;
                            height: 65vw;
                        }
                    }
                    .nameheadermobile {
                            margin: 6vh 0 0 0;
                            #namemobile {
                                font-size: 8vw;
                                font-weight: bold;
                                font-family: 'Inter', sans-serif;
                                color: $skillswhite;
                            }
                            #jobdescripmobile {
                                font-family: 'Inter', sans-serif;
                                text-align: center;
                                color: $socialsgrey;
                                font-size: 5vw;
                            }
                        }
                        .catchphrasemobile {
                            margin: 10vh 0 0 0;
                            text-align: center;
                            #catchphrasemobile {
                                // font-family: 'Inter', sans-serif;
                                font-family: 'Roboto', sans-serif;
                                color: $skillswhite;
                                font-size: 4vw;
                            }
                        }
                        .portfoliobuttonmobile {
                            border: 1px solid $portfolios;
                            border-radius: 30px;
                            background-color: $portfolios;
                            padding: 2vw;
                            width: 50vw;
                            text-align: center;
                            margin: 12vh 0 0 0;
                            a {
                                text-decoration: none;
                                font-family: 'Inter', sans-serif;
                                color: $skillswhite;
                                font-size: 4vw;
                            }
                        }
                }
            }
            // ABOUT SECTION MOBILE
                #aboutmobilecontainer {
                    #aboutmobile {
                        background-color: $aboutgreen;
                        color: white;
                        height: 100vh;
                        // Top of the about section
                        .topaboutmobile {
                            display: flex;
                            .titlemobile {
                                margin: 4vh 0 0 5vh;
                                h1 {
                                    font-size: 10vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            .about_hamburgermobile {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $experiencegreenbutton;
                                border-radius: 30px;
                                background-color: $experiencegreenbutton;
                                width: 30vw;
                                height: 5vh;
                                margin: 4.5vh 0 0 23vw;
                                .menuburgerabout {
                                    position: relative;
                                    width: 9vw;
                                    height: 9vw;
                                }
                                .menuburgerabout.is-gone {
                                    opacity: 0;
                                    transition: .5s;
                                }
                                .about_closetext {
                                    width: 30vw;
                                    height: 5vh;
                                    padding: 1vw;
                                    position: absolute;
                                    color: white;
                                    opacity: 0;
                                    z-index: 100;
                                    img {
                                        width: 10vw;
                                        height: 10vw;
                                    }
                                }
                                .about_closetext.is-shown {
                                    opacity: 1;
                                    color: white;
                                    width: 10vw;
                                    // figure out how to make these 
                                        // stay in the same place
                                }
                            }
                            .about_hamburgermobile.is-active {
                                font-size: 3vw;
                                transition: .3s;
                            }
                        }
                         // The Nav bar slide in
                         .mobile-nav-about {
                            position: fixed;
                            top: 0;
                            left: 100%;
                            width: 100%;
                            height: 100vh;
                            display: block;
                            background-color: $aboutgreen;
                            margin: 10vh 0 0 0;
                            transition: .8s;
                            z-index: 98;
                            .mobilelogoabout {
                                margin: 5vh 15vw 0 0;
                                // background-color: #023430;
                                .navlogoabout {
                                    margin: -2vh 0 0 5vw;
                                    width: 25vw;
                                    height: 25vw;
                                }
                            }
                            .mobilelistabout {
                                a {
                                    display: block;
                                    text-align: left;
                                    text-decoration: none;
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: 6vw;
                                    font-weight: bold;
                                    margin: 4vh 0 0 9vw;
                                }
                            }
                            .slidesocialsmobileabout {
                                // background-color: #023430;
                                display: flex;
                                flex-direction: row;
                                gap: 2vw;
                                margin: 5vh 0 0 8vw;
                                img {
                                    width: 10vw;
                                    height: 10vw;
                                }
                            }
                        }
                        .mobile-nav-about.slide-in {
                            left: 0;
                        }
                        // Bottom of the about section
                        .infoblockmobile {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin: 10vh 0 0 0;
                            line-height: 1.8;
                        }
                        .infomobile {
                            font-family: 'Roboto', sans-serif;
                            text-align: left;
                            padding: 5vh;
                        }
                        .resumemobile {
                            border: 1px solid $experiencegreenbutton;
                            border-radius: 20px;
                            // width: 40%;
                            width: 50vw;
                            background-color: $experiencegreenbutton;
                            padding: 2vw;
                            margin: 15vh 0 0 0;
                            a {
                                   font-family: 'Inter', sans-serif;
                                   text-decoration: none;
                                   color: $learnmorebutton;
                                   text-align: center;
                            }
                        }
                    }
                }
                 // SKILLS SECTION MOBILE
                 #skillsmobilecontainer {
                    #skillsmobile {
                        background-color: $skillsteal;
                        color: white;
                        height: 220vh;
                        // Top of the skills section
                        .topskillsmobile {
                            display: flex;
                            .titlemobile {
                                margin: 4vh 0 0 5vh;
                                h1 {
                                    font-size: 10vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            .skills_hamburgermobile {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $skillsdarker2;
                                border-radius: 30px;
                                background-color: $skillsdarker2;
                                width: 30vw;
                                height: 5vh;
                                margin: 4.5vh 0 0 23vw;
                            }
                            .menuburgerskills {
                                position: relative;
                                width: 9vw;
                                height: 9vw;
                            }
                            .menuburgerskills.is-gone {
                                opacity: 0;
                                transition: .5s;
                            }
                            .skills_closetext {
                                width: 30vw;
                                height: 5vh;
                                padding: 1vw;
                                position: absolute;
                                color: white;
                                opacity: 0;
                                z-index: 100;
                                img {
                                    width: 10vw;
                                    height: 10vw;
                                }
                            }
                            .skills_closetext.is-shown {
                                opacity: 1;
                                color: white;
                                width: 10vw;
                                // figure out how to make these 
                                    // stay in the same place
                            }
                        }
                        .skills_hamburgermobile.is-active {
                            font-size: 3vw;
                            transition: .3s;
                        }
                    }
                     // The Nav bar slide in
                     .mobile-nav-skills {
                        position: fixed;
                        top: 0;
                        left: 100%;
                        width: 100%;
                        height: 100vh;
                        display: block;
                        background-color: $skillsteal;
                        margin: 10vh 0 0 0;
                        transition: .8s;
                        z-index: 98;
                        .mobilelogoskills {
                            margin: 5vh 15vw 0 0;
                            // background-color: #023430;
                            .navlogoskills {
                                margin: -2vh 0 0 5vw;
                                width: 25vw;
                                height: 25vw;
                            }
                        }
                        .mobilelistskills {
                            a {
                                display: block;
                                text-align: left;
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 6vw;
                                font-weight: bold;
                                margin: 4vh 0 0 9vw;
                            }
                        }
                        .slidesocialsmobileskills {
                            // background-color: #023430;
                            display: flex;
                            flex-direction: row;
                            gap: 2vw;
                            margin: 5vh 0 0 8vw;
                            img {
                                width: 10vw;
                                height: 10vw;
                            }
                        } 
                    }
                    .mobile-nav-skills.slide-in {
                        left: 0;
                    }
                    // Bottom of Skills section
                    .botskillsmobile {
                        margin-top: -3vh;
                        .responsedesigndiv {
                            display: grid;
                            margin: 0vh -10vw 0 0;
                             // SKILL CIRCLE 1
                             .responsivedesign {
                                grid-column: 1;
                                grid-row: 1 / span 2;
                                font-size: 5vw;
                                font-family: 'Julius Sans One',sans-serif;
                                color: $skillswhite;
                                display: flex;
                                text-align: center;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 3vh;
                                margin: 15vh 0 0 10vw;
                                padding: 3vh 0 0 0;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 55vw;
                                height: 50vw;
                                box-shadow: 2px 2px 2px $boxshadowcircles;
                                p {
                                    margin: -3vh 0 0 0;
                                }
                             }
                            //  REACT JS CIRCLE
                            .react {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                grid-column: 2;
                                grid-row: 1;
                                border: 1px solid $mainblue;
                                border-radius: 50%;
                                background-color: $mainblue;
                                width: 24vw;
                                height: 24vw;
                                margin: 8vh 0 0 -32vw;
                                box-shadow: 2px 2px 1px $boxshadowcircles;
                                img {
                                    width: 10vw;
                                    height: 9vw;
                                }
                                p {
                                    font-size: 3vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // REACT NATIVE CIRCLE
                            .react-native {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: .5vh;
                                grid-column: 2;
                                grid-row: 2;
                                border: 1px solid $mainblue;
                                border-radius: 50%;
                                background-color: $mainblue;
                                width: 24vw;
                                height: 24vw;
                                margin: -11vh 0 0 -18vw;
                                box-shadow: 2px 2px 1px $boxshadowcircles;
                                img {
                                    margin-top: -1vh;
                                    width: 13vw;
                                    height: 13vw;
                                }
                                p {
                                    font-size: 3vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // HTML CIRCLE
                            .html {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                grid-column: 2;
                                grid-row: 3;
                                border: 1px solid $mainblue;
                                border-radius: 50%;
                                background-color: $mainblue;
                                width: 24vw;
                                height: 24vw;
                                // margin: -5vh 0 0 -18vw;
                                margin: -9.5vh 0 0 -22vw;
                                box-shadow: 2px 2px 1px $boxshadowcircles;
                                img {
                                    width: 12vw;
                                    height: 12vw;
                                }
                                p {
                                    font-size: 3vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // CSS CIRCLE
                            .css {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                grid-column: 2;
                                grid-row: 3;
                                border: 1px solid $mainblue;
                                border-radius: 50%;
                                background-color: $mainblue;
                                width: 24vw;
                                height: 24vw;
                                // margin: -5vh 0 0 -18vw;
                                margin: -.5vh 0 0 -43vw;
                                box-shadow: 2px 2px 1px $boxshadowcircles;
                                img {
                                    width: 12vw;
                                    height: 12vw;
                                }
                                p {
                                    font-size: 3vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // SASS CIRCLE
                            .sass {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                grid-column: 2;
                                grid-row: 4;
                                border: 1px solid $mainblue;
                                border-radius: 50%;
                                background-color: $mainblue;
                                width: 24vw;
                                height: 24vw;
                                margin: -11vh 0 0 -71vw;
                                box-shadow: 2px 2px 1px $boxshadowcircles;
                                img {
                                    width: 11vw;
                                    height: 11vw;
                                }
                                p {
                                    font-size: 3vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                        // SCRIPTING AND FUNCTIONALITY
                        .scriptingandfunctionalitydiv {
                            margin-top: -3vh;
                            .scriptingandfunctionality {
                                // grid-column: 1;
                                // grid-row: 4 / span 2;
                                font-size: 4vw;
                                font-family: 'Julius Sans One',sans-serif;
                                color: $skillswhite;
                                display: flex;
                                text-align: center;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 3vh;
                                margin: 6vh 0 0 36vw;
                                padding: 3vh 0 0 0;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 55vw;
                                height: 50vw;
                                box-shadow: 2px 2px 2px $boxshadowcircles;
                                p {
                                    font-size: 4.5vw;
                                    margin-top: -2vh;
                                }
                            }
                            // JAVASCRIPT CIRCLE
                            .javascript {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -10vh 0 0 14vw;
                                img {
                                    margin: -1vh 0 0 0;
                                    width: 14vw;
                                    height: 14vw;
                                }
                                p {
                                    font-size: 3vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // PYTHON CIRCLE
                            .python {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -2vh 0 0 35vw;
                                img {
                                    width: 14vw;
                                    height: 14vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                        // SERVER SIDE PROGRAMMING
                        .serversideprogrammingdiv {
                            margin-top: -11vh;
                            .serversideprogramming {
                                // grid-column: 1;
                                // grid-row: 4 / span 2;
                                font-size: 4vw;
                                font-family: 'Julius Sans One',sans-serif;
                                color: $skillswhite;
                                display: flex;
                                text-align: center;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 3vh;
                                margin: 15vh 0 0 10vw;
                                padding: 3vh 0 0 0;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 55vw;
                                height: 50vw;
                                box-shadow: 2px 2px 2px $boxshadowcircles;
                                p {
                                    font-size: 4.5vw;
                                    margin-top: -2vh;
                                }
                            }
                            // NODE JS
                            .nodejs {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -13vh 0 0 66vw;
                                img {
                                    width: 12vw;
                                    height: 13vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // DJANGO
                            .django {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                // gap: 1vh;
                                margin: -1vh 0 0 49vw;
                                img {
                                    width: 14vw;
                                    height: 14vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                        // INTEGRATION WITH DATABASES
                        .integrationwithdatabasesdiv {
                            margin-top: -4vh;
                            .integrationwithdatabasescircle {
                                font-size: 4vw;
                                font-family: 'Julius Sans One',sans-serif;
                                color: $skillswhite;
                                display: flex;
                                text-align: center;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 3vh;
                                margin: 8vh 0 0 35vw;
                                padding: 3vh 0 0 0;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 55vw;
                                height: 50vw;
                                box-shadow: 2px 2px 2px $boxshadowcircles;
                                p {
                                    font-size: 4.5vw;
                                    margin-top: -2vh;
                                }
                            }
                            // MONGO DB
                            .mongodb {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -7vh 0 0 16vw;
                                img {
                                    width: 5vw;
                                    height: 12vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // FIREBASE
                            .firebase {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -4vh 0 0 40vw;
                                img {
                                    width: 15vw;
                                    height: 15vw;
                                    margin: -1vh 0 0 0;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                        // DEPLOYMENT
                        .deploymentdiv {
                            margin-top: -4vh;
                            .deploymentcircle {
                                font-size: 4vw;
                                font-family: 'Julius Sans One',sans-serif;
                                color: $skillswhite;
                                display: flex;
                                text-align: center;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 3vh;
                                margin: 8vh 0 0 10vw;
                                padding: 2vh 0 0 0;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 55vw;
                                height: 50vw;
                                box-shadow: 2px 2px 2px $boxshadowcircles;
                                p {
                                    font-size: 5vw;
                                }
                            }
                            // Heroku
                            .heroku {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -8vh 0 0 61vw;
                                img {
                                    width: 10vw;
                                    height: 10vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // Digital Ocean
                            .digitalocean {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                margin: -4vh 0 0 43vw;
                                img {
                                    width: 12vw;
                                    height: 12vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            // Amazon Web Services
                            .aws {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 50%;
                                width: 24vw;
                                height: 24vw;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: .5vh;
                                margin: -10.5vh 0 0 15vw;
                                // padding: 1vh;
                                img {
                                    width: 9vw;
                                    height: 9vw;
                                }
                                p {
                                    font-size: 2.8vw;
                                    // font-size: 2.4vw;
                                    text-align: center;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                    }
                 }
        }
    }
}