@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media screen and (min-width: 376px) and (max-width: 500px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body #mobilemain {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body #mobilemain .tophomemobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body #mobilemain .tophomemobile .contactbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    width: 20vw;
    height: 5vh;
    margin: 5vh 0 0 0;
  }
  * body #mobilemain .tophomemobile .contactbutton a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 3vw;
  }
  * body #mobilemain .tophomemobile .logomobile {
    margin: 2vh 0 0 0;
  }
  * body #mobilemain .tophomemobile .logomobile img {
    width: 23vw;
    height: 23vw;
  }
  * body #mobilemain .tophomemobile .hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    width: 20vw;
    height: 5vh;
    margin: 2vh 0 0 35vw;
  }
  * body #mobilemain .tophomemobile .hamburgermobile .menuburger {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #mobilemain .tophomemobile .hamburgermobile .menuburger.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #mobilemain .tophomemobile .hamburgermobile .closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #mobilemain .tophomemobile .hamburgermobile .closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #mobilemain .tophomemobile .hamburgermobile .closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
    height: 10vw;
    transition: 0.6s;
  }
  * body #mobilemain .tophomemobile .hamburgermobile.is-active {
    color: white;
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #mobilemain .mobile-nav-home {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color: #080E2F;
    margin: 0 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #mobilemain .mobile-nav-home .mobilelogohome {
    margin: 5vh 15vw 0 0;
  }
  * body #mobilemain .mobile-nav-home .mobilelogohome .navlogo {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #mobilemain .mobile-nav-home .mobilelisthome a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #mobilemain .mobile-nav-home .slidesocialsmobilehome {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #mobilemain .mobile-nav-home .slidesocialsmobilehome img {
    width: 10vw;
    height: 10vw;
  }
  * body #mobilemain .mobile-nav-home.slide-in {
    left: 0;
  }
  * body #mobilemain .bothomemobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 0 0;
  }
  * body #mobilemain .bothomemobile .photomobile img {
    border-radius: 50%;
    width: 65vw;
    height: 65vw;
  }
  * body #mobilemain .bothomemobile .nameheadermobile {
    margin: 6vh 0 0 0;
  }
  * body #mobilemain .bothomemobile .nameheadermobile #namemobile {
    font-size: 8vw;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
  }
  * body #mobilemain .bothomemobile .nameheadermobile #jobdescripmobile {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #B7BCD6;
    font-size: 5vw;
  }
  * body #mobilemain .bothomemobile .catchphrasemobile {
    margin: 10vh 0 0 0;
    text-align: center;
  }
  * body #mobilemain .bothomemobile .catchphrasemobile #catchphrasemobile {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 4vw;
  }
  * body #mobilemain .bothomemobile .portfoliobuttonmobile {
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    padding: 2vw;
    width: 50vw;
    text-align: center;
    margin: 12vh 0 0 0;
  }
  * body #mobilemain .bothomemobile .portfoliobuttonmobile a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 4vw;
  }
  * body #aboutmobilecontainer #aboutmobile {
    background-color: #0E4946;
    color: white;
    height: 100vh;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile {
    display: flex;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .titlemobile {
    margin: 5vh 0 0 5vh;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .titlemobile h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #476D6B;
    border-radius: 30px;
    background-color: #476D6B;
    width: 20vw;
    height: 5vh;
    margin: 5.5vh 0 0 28.5vw;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile .menuburgerabout {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile .menuburgerabout.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile .about_closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile .about_closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile .about_closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
  }
  * body #aboutmobilecontainer #aboutmobile .topaboutmobile .about_hamburgermobile.is-active {
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #0E4946;
    margin: 16vh 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about .mobilelogoabout {
    margin: 5vh 15vw 0 0;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about .mobilelogoabout .navlogoabout {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about .mobilelistabout a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about .slidesocialsmobileabout {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about .slidesocialsmobileabout img {
    width: 10vw;
    height: 10vw;
  }
  * body #aboutmobilecontainer #aboutmobile .mobile-nav-about.slide-in {
    left: 0;
  }
  * body #aboutmobilecontainer #aboutmobile .infoblockmobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 0 0 0;
    line-height: 1.8;
  }
  * body #aboutmobilecontainer #aboutmobile .infomobile {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding: 5vh;
  }
  * body #aboutmobilecontainer #aboutmobile .resumemobile {
    border: 1px solid #476D6B;
    border-radius: 20px;
    width: 50vw;
    background-color: #476D6B;
    padding: 2vw;
    margin: 4vh 0 0 0;
  }
  * body #aboutmobilecontainer #aboutmobile .resumemobile a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #EBEBEB;
    text-align: center;
  }
  * body #skillsmobilecontainer #skillsmobile {
    background-color: #146166;
    color: white;
    height: 105vh;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile {
    display: flex;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .titlemobile {
    margin: 4vh 0 0 5vh;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .titlemobile h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .skills_hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #507e81;
    border-radius: 30px;
    background-color: #507e81;
    width: 20vw;
    height: 5vh;
    margin: 4.5vh 0 0 33vw;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .menuburgerskills {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .menuburgerskills.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .skills_closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .skills_closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #skillsmobilecontainer #skillsmobile .topskillsmobile .skills_closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
  }
  * body #skillsmobilecontainer #skillsmobile .skills_hamburgermobile.is-active {
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #skillsmobilecontainer .mobile-nav-skills {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #146166;
    margin: 10vh 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #skillsmobilecontainer .mobile-nav-skills .mobilelogoskills {
    margin: 5vh 15vw 0 0;
  }
  * body #skillsmobilecontainer .mobile-nav-skills .mobilelogoskills .navlogoskills {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #skillsmobilecontainer .mobile-nav-skills .mobilelistskills a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #skillsmobilecontainer .mobile-nav-skills .slidesocialsmobileskills {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #skillsmobilecontainer .mobile-nav-skills .slidesocialsmobileskills img {
    width: 10vw;
    height: 10vw;
  }
  * body #skillsmobilecontainer .mobile-nav-skills.slide-in {
    left: 0;
  }
  * body #skillsmobilecontainer .botskillsmobile {
    margin-top: -3vh;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv {
    display: grid;
    margin: 3vh -15vw 0 0;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .responsivedesign {
    grid-column: 1;
    grid-row: 1/span 2;
    font-size: 5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin: 10vh 0 0 13vw;
    padding: 3vh 0 0 0;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 50vw;
    height: 45vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .responsivedesign p {
    margin: -3vh 0 0 0;
    font-size: 4vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    grid-column: 2;
    grid-row: 1;
    border: 1px solid #080E2F;
    border-radius: 50%;
    background-color: #080E2F;
    width: 15vw;
    height: 15vw;
    margin: 8vh 0 0 -32vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .react img {
    width: 8vw;
    height: 7vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .react p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .react-native {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #080E2F;
    border-radius: 50%;
    background-color: #080E2F;
    width: 15vw;
    height: 15vw;
    margin: -8vh 0 0 -25vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .react-native img {
    width: 9vw;
    height: 9vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .react-native p {
    font-size: 2.5vw;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    grid-column: 2;
    grid-row: 3;
    border: 1px solid #080E2F;
    border-radius: 50%;
    background-color: #080E2F;
    width: 15vw;
    height: 15vw;
    margin: -8vh 0 0 -29vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .html img {
    width: 9vw;
    height: 9vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .html p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    grid-column: 2;
    grid-row: 3;
    border: 1px solid #080E2F;
    border-radius: 50%;
    background-color: #080E2F;
    width: 15vw;
    height: 15vw;
    margin: -1.5vh 0 0 -43vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .css img {
    width: 9vw;
    height: 9vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .css p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .sass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    grid-column: 2;
    grid-row: 4;
    border: 1px solid #080E2F;
    border-radius: 50%;
    background-color: #080E2F;
    width: 15vw;
    height: 15vw;
    margin: -6.3vh 0 0 -62vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .sass img {
    width: 8.5vw;
    height: 8.5vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .sass p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .figma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    grid-column: 2;
    grid-row: 4;
    border: 1px solid #080E2F;
    border-radius: 50%;
    background-color: #080E2F;
    width: 15vw;
    height: 15vw;
    margin: -9.3vh 0 0 -80vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .figma img {
    width: 8vw;
    height: 7vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .responsedesigndiv .figma p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv {
    margin-top: 10vh;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .scriptingandfunctionality {
    font-size: 4vw;
    font-family: "Julius Sans One", sans-serif;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin: 6vh 0 0 36vw;
    padding: 3vh 0 0 0;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 50vw;
    height: 45vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .scriptingandfunctionality p {
    font-size: 4vw;
    margin-top: -2vh;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .javascript {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -25vh 0 0 23vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .javascript img {
    margin: -1vh 0 0 0;
    width: 10vw;
    height: 10vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .javascript p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .python {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    margin: 1vh 0 0 17.5vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .python img {
    margin: -0.5vh 0 0 0;
    width: 8vw;
    height: 8vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .python p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .nodejs {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    margin: 0.5vh 0 0 23vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .nodejs img {
    width: 6.5vw;
    height: 8vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .nodejs p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .django {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -2vh 0 0 37vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .django img {
    margin: -1vh 0 0 0;
    width: 10vw;
    height: 10vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .django p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .mongodb {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5vh;
    margin: -6.5vh 0 0 56vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .mongodb img {
    width: 3vw;
    height: 8vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .mongodb p {
    font-size: 2.5vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .firebase {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    margin: -11vh 0 0 74vw;
    padding: 1vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .firebase img {
    width: 10vw;
    height: 10vw;
    margin: -1vh 0 0 0;
  }
  * body #skillsmobilecontainer .botskillsmobile .scriptingandfunctionalitydiv .firebase p {
    font-size: 2.8vw;
    font-family: "Julius Sans One", sans-serif;
    color: #7FC4C9;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv {
    margin-top: -4vh;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .deploymentcircle {
    font-size: 4vw;
    font-family: "Julius Sans One", sans-serif;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin: 8vh 0 0 10vw;
    padding: 2vh 0 0 0;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 55vw;
    height: 50vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .deploymentcircle p {
    font-size: 5vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .heroku {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 24vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin: -8vh 0 0 61vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .heroku img {
    width: 10vw;
    height: 10vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .heroku p {
    font-size: 2.8vw;
    font-family: "Inter", sans-serif;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .digitalocean {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 24vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin: -4vh 0 0 43vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .digitalocean img {
    width: 12vw;
    height: 12vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .digitalocean p {
    font-size: 2.8vw;
    font-family: "Inter", sans-serif;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .aws {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 50%;
    width: 24vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    margin: -10.5vh 0 0 15vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .aws img {
    width: 9vw;
    height: 9vw;
  }
  * body #skillsmobilecontainer .botskillsmobile .deploymentdiv .aws p {
    font-size: 2.8vw;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv {
    background-color: #080E2F;
    color: white;
    height: 105vh;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile {
    display: flex;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .titlemobile {
    margin: 4vh 0 0 5vh;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .titlemobile h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .portfolio_hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    width: 20vw;
    height: 5vh;
    margin: 4.5vh 0 0 17vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .menuburgerportfolio {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .menuburgerportfolio.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .portfolio_closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .portfolio_closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .topportfoliomobile .portfolio_closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .portfolio_hamburgermobile.is-active {
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: 5vh 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio .mobilelogoportfolio {
    margin: 5vh 15vw 0 0;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio .mobilelogoportfolio .navlogoportfolio {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio .mobilelistportfolio a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio .slidesocialsmobileportfolio {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio .slidesocialsmobileportfolio img {
    width: 10vw;
    height: 10vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .mobile-nav-portfolio.slide-in {
    left: 0;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile {
    display: flex;
    flex-direction: column;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh;
    margin: 3vh 0 0 0;
    gap: 6vh;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app1 {
    border: 1px solid #36395D;
    background-color: #36395D;
    border-radius: 10px;
    height: 42vw;
    width: 78vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app1 .app1cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 0 0;
    width: 100%;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app1 .app1cover a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 1vh;
    margin-top: -2.5vh;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app1 .app1cover a img {
    width: 20vw;
    height: 20vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app1 .app1cover a p {
    font-size: 5vw;
    font-family: "Julius Sans One", sans-serif;
    color: white;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app2 {
    border: 1px solid #36395D;
    background-color: #36395D;
    border-radius: 10px;
    height: 42vw;
    width: 78vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app2 .app2cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0 0 0;
    width: 100%;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app2 .app2cover a img {
    width: 50vw;
    height: 8vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app3 {
    border: 1px solid #36395D;
    background-color: #36395D;
    border-radius: 10px;
    height: 42vw;
    width: 78vw;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app3 .app3cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    width: 100%;
  }
  * body #portfoliomobilecontainer #portfoliomobilediv .botportfoliomobile .portfoliooutline .app3 .app3cover a img {
    width: 37vw;
    height: 40vw;
  }
  * body #experiencemobilecontainer #experiencemobile {
    background-color: #0E4946;
    color: white;
    height: 100vh;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile {
    display: flex;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .titlemobile {
    margin: 4vh 0 0 5vh;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .titlemobile h1 {
    font-size: 9vw;
    font-family: "Inter", sans-serif;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .experience_hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #476D6B;
    border-radius: 30px;
    background-color: #476D6B;
    width: 20vw;
    height: 5vh;
    margin: 4.5vh 0 0 9.5vw;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .experience_hamburgermobile.is-active {
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .menuburgerexperience {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .menuburgerexperience.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .experience_closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .experience_closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #experiencemobilecontainer #experiencemobile .topexperiencemobile .experience_closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #0E4946;
    margin: 15vh 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience .mobilelogoexperience {
    margin: 5vh 15vw 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience .mobilelogoexperience .navlogoexperience {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience .mobilelistexperience a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience .slidesocialsmobileexperience {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience .slidesocialsmobileexperience img {
    width: 10vw;
    height: 10vw;
  }
  * body #experiencemobilecontainer #experiencemobile .mobile-nav-experience.slide-in {
    left: 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer {
    display: flex;
    justify-content: center;
    margin: 8vh 0 0 -5vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    border-radius: 12px;
    padding: 8vw;
    width: 60vw;
    height: 60vw;
    margin: 0 0 0 5vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .incourdevs {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5vh;
    line-height: 2vh;
    margin: 0 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .incourdevs img {
    width: 25vw;
    height: 25vw;
    margin: 0 0 0 -2vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .incourdevs h2 {
    margin: 0 0 0 -0.2vw;
    font-size: 5vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .incourdevs .jobtitle {
    margin: 1vh 0 0 0;
    font-size: 4vw;
    font-family: "Roboto", sans-serif;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .incourdevs .jobdates {
    font-size: 3vw;
    font-weight: bold;
    margin: 1vh 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .more {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin: 2vh 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .more a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9e2e2;
    background-color: #d9e2e2;
    border-radius: 5px;
    width: 40vw;
    height: 7vw;
    text-decoration: none;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .courdevs .more a p {
    color: #0E4946;
    font-weight: bold;
    font-size: 3vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    padding: 8vw;
    width: 60vw;
    height: 60vw;
    margin: 0 0 0 5vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .incourdevs {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5vh;
    line-height: 2vh;
    margin: 1vh 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .incourdevs img {
    width: 20vw;
    height: 20vw;
    margin: 0 0 0 -2vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .incourdevs h2 {
    margin: 1vh 0 0 -1.5vw;
    font-size: 4vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .incourdevs .jobtitle {
    margin: 1vh 0 0 0;
    font-size: 4vw;
    font-family: "Roboto", sans-serif;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .incourdevs .jobdates {
    font-size: 3vw;
    font-weight: bold;
    margin: 1vh 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .more {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin: 2vh 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .more a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9e2e2;
    background-color: #d9e2e2;
    border-radius: 5px;
    width: 40vw;
    height: 7vw;
    text-decoration: none;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .places .r1rcm .more a p {
    color: #0E4946;
    font-weight: bold;
    font-size: 3vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .descriptions .courdev2 {
    margin: 7vh 0 0 0;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .descriptions .courdev2 .indescriptions {
    margin: 7vh 0 0 0;
    font-family: "Inter", sans-serif;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .descriptions .courdev2 .indescriptions h1 {
    font-size: 4vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .descriptions .courdev2 .indescriptions h3 {
    font-size: 4vw;
  }
  * body #experiencemobilecontainer #experiencemobile .botexperiencemobile .botexperiencecontainer .descriptions .courdev2 .indescriptions p {
    font-size: 3vw;
  }
  * body #blogmobilecontainer #blogmobile {
    background-color: #146166;
    color: white;
    height: 100vh;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile {
    display: flex;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .titlemobile {
    margin: 3vh 0 0 5vh;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .titlemobile h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #507e81;
    border-radius: 30px;
    background-color: #507e81;
    width: 20vw;
    height: 5vh;
    margin: 4.5vh 0 0 37.5vw;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile .menuburgerblog {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile .menuburgerblog.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile .blog_closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile .blog_closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile .blog_closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
  }
  * body #blogmobilecontainer #blogmobile .topblogmobile .blog_hamburgermobile.is-active {
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #146166;
    margin: 10vh 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog .mobilelogoblog {
    margin: 5vh 15vw 0 0;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog .mobilelogoblog .navlogoblog {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog .mobilelistblog a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog .slidesocialsmobileblog {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog .slidesocialsmobileblog img {
    width: 10vw;
    height: 10vw;
  }
  * body #blogmobilecontainer #blogmobile .mobile-nav-blog.slide-in {
    left: 0;
  }
  * body #blogmobilecontainer #blogmobile #botblogmobile .botblogcontainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 0 0;
    gap: 3vh;
    padding: 1vh 1vh;
  }
  * body #blogmobilecontainer #blogmobile #botblogmobile .botblogcontainer .blogcircles {
    background-color: #080E2F;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #blogmobilecontainer #blogmobile #botblogmobile .botblogcontainer .blogcircles a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 1vh;
  }
  * body #blogmobilecontainer #blogmobile #botblogmobile .botblogcontainer .blogcircles a h2 {
    font-size: 4vw;
    font-family: "Inter", sans-serif;
  }
  * body #blogmobilecontainer #blogmobile #botblogmobile .botblogcontainer .blogcircles a p {
    font-size: 3vw;
    font-family: "Inter", sans-serif;
  }
  * body #contactmobilecontainer #contactmobile {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile {
    display: flex;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .titlemobile {
    margin: 3vh 0 0 5vh;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .titlemobile h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    width: 20vw;
    height: 5vh;
    margin: 3.8vh 0 0 20vw;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile .menuburgercontact {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile .menuburgercontact.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile .contact_closetext {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile .contact_closetext img {
    width: 10vw;
    height: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile .contact_closetext.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .topcontactmobile .contact_hamburgermobile.is-active {
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: 10vh 0 0 0;
    transition: 0.8s;
    z-index: 98;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact .mobilelogocontact {
    margin: 5vh 15vw 0 0;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact .mobilelogocontact .navlogocontact {
    margin: -2vh 0 0 5vw;
    width: 25vw;
    height: 25vw;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact .mobilelistcontact a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact .slidesocialsmobilecontact {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact .slidesocialsmobilecontact img {
    width: 10vw;
    height: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .mobile-nav-contact.slide-in {
    left: 0;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile {
    margin: 6vh 0 0 11.5vw;
    font-family: "Inter", sans-serif;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform {
    display: flex;
    flex-direction: column;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv {
    display: flex;
    flex-direction: column;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .name {
    margin: 0 0 5vh 0;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .name p {
    font-size: 5vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .name input {
    width: 75vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: #36395D;
    border: 1px solid #36395D;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .email {
    margin: 0 0 5vh 0;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .email p {
    font-size: 5vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .email input {
    width: 75vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: #36395D;
    border: 1px solid #36395D;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .message {
    margin: 0 0 5vh 0;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .message p {
    font-size: 5vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .message input {
    width: 75vw;
    height: 20vh;
    border: none;
    border-radius: 5px;
    background-color: #36395D;
    border: 1px solid #36395D;
    color: white;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .submit {
    margin: 2vh 0 0 0;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .submit button {
    background-color: #36395D;
    border: 1px solid #36395D;
    color: #FFFFFF;
    border-radius: 10px;
    width: 75vw;
    height: 5vh;
    font-size: 5vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .mobilesocials {
    margin: 4vh 0 0 16.5vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .mobilesocials a #github {
    width: 10vw;
    height: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .mobilesocials a #linkedin {
    width: 10vw;
    height: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .mobilesocials a #twitter {
    width: 10vw;
    height: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .mobilesocials a #instagram {
    width: 10vw;
    height: 10vw;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .poweredby {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0 0 -12vw;
    color: #FFFFFF;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .poweredby img {
    width: 6vw;
    height: 6vw;
    color: #36395D;
    margin: 0 2vw 0 0;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .poweredby small {
    display: flex;
    gap: 0.5vh;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .poweredby small p {
    color: #B7BCD6;
  }
  * body #contactmobilecontainer #contactmobile .botcontactmobile .contactform .nameemaildiv .poweredby small a {
    color: #58a6ff;
  }
}/*# sourceMappingURL=style.css.map */