// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;

// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;

$lighterskills: #080e31;


/// MAIN TABLET VERSION (from 500px to 1000px)
@media screen and (min-width: 500px) and (max-width: 1000px) {
    *{
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            #mobilecontainer {
                display: none;
            }
            #tabletcontainer {
                #tablethome {
                    background-color: $mainblue;
                    color: white;
                    height: 100vh;
                    .tophometablet {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .logotablet {
                            margin: 2vh 0 0 5vw;
                            img {
                                width: 23vw;
                                height: 23vw;
                            }
                        }
                        .hamburgertablet {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $portfolios;
                            border-radius: 40px;
                            background-color: $portfolios;
                            width: 20vw;
                            height: 6vh;
                            margin: 0 7vw 0 0;
                            // margin: 2vh 0 0 35vw;
                            .tabletburger {
                                position: relative;
                                width: 9vw;
                                height: 9vw;
                            }
                            .tabletburger.is-gone {
                                opacity: 0;
                                transition: .5s;
                            }
                            .tabletclose {
                                width: 30vw;
                                height: 5vh;
                                padding: 1vw;
                                position: absolute;
                                color: white;
                                opacity: 0;
                                z-index: 100;
                                img {
                                     width: 10vw;
                                     height: 10vw;
                                }
                            }
                            .tabletclose.is-shown {
                                opacity: 1;
                                color: white;
                                width: 10vw;
                                height: 10vw;
                                transition: .6s;
                            }
                        }
                        .hamburgertablet.is-active {
                            color: white;
                            font-size: 3vw;
                            transition: .3s;
                        }
                    }
                    .tablet-nav-home {
                        position: fixed;
                        top: 0;
                        left: 100%;
                        width: 100%;
                        height: 100vh;
                        display: block;
                        background-color: $mainblue;
                        margin: 0 0 0 0;
                        transition: .8s;
                        z-index: 95;
                        .tabletlogohome {
                            margin: 5vh 15vw 0 0;
                            // background-color: #023430;
                            .navlogotablet {
                                margin: -2vh 0 0 5vw;
                                width: 23vw;
                                height: 23vw;
                            }
                        }
                        .tabletlisthome {
                            a {
                                display: block;
                                text-align: left;
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 5vw;
                                font-weight: bold;
                                margin: 4vh 0 0 9vw;
                            }
                        }
                        .slidesocialstablethome {
                            // background-color: #023430;
                            display: flex;
                            flex-direction: row;
                            gap: 2vw;
                            margin: 5vh 0 0 8vw;
                            img {
                                width: 8vw;
                                height: 8vw;
                            }
                       }
                    }
                    // when nav home is toggled to class 'slide-in'
                    .tablet-nav-home.slide-in {
                        left: 0;
                    }
                    // BOTTOM of the home section
                    .bothometablet {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 4vh 0 0 0;
                        .phototablet {
                            img {
                                border-radius: 50%;
                                width: 40vw;
                                height: 40vw;
                            }
                        }
                        .nameheadertablet {
                            margin: 6vh 0 0 0;
                            #nametablet {
                                font-size: 7vw;
                                font-weight: bold;
                                font-family: 'Inter', sans-serif;
                                color: $skillswhite;
                            }
                            #jobdescriptablet {
                                font-family: 'Inter', sans-serif;
                                text-align: center;
                                color: $socialsgrey;
                                font-size: 4vw;
                            }
                        }
                        .catchphrasetablet {
                            margin: 4vh 0 0 0;
                            text-align: center;
                            #catchphrasetablet {
                                // font-family: 'Inter', sans-serif;
                                font-family: 'Roboto', sans-serif;
                                color: $skillswhite;
                                font-size: 3vw;
                            }
                        }
                        .portfoliobuttontablet {
                            border: 1px solid $portfolios;
                            border-radius: 30px;
                            background-color: $portfolios;
                            padding: 2vw;
                            width: 40vw;
                            height: 3vw;
                            text-align: center;
                            margin: 10vh 0 0 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                text-decoration: none;
                                font-family: 'Inter', sans-serif;
                                color: $learnmorebutton;
                                font-size: 3vw;
                            }
                        }
                    }
                }
                // ABOUT SECTION TABLET
                #abouttabletcontainer {
                    #abouttablet {
                        background-color: $aboutgreen;
                        color: white;
                        height: 100vh;
                        // TOP of the about section
                        .topabouttablet {
                            display: flex;
                            .titletablet {
                                margin: 5vh 0 0 5vh;
                                h1 {
                                    font-size: 10vw;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                    }
                }
                // BOTTOM OF ABOUT SECTION TABLET
                .botabouttablet {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.8;
                    margin: 4vh 0 0 0;
                    .infotablet {
                        font-family: 'Roboto', sans-serif;
                        text-align: left;
                        padding: 5vh;
                        font-size: 3vw; 
                    }
                    .resumetablet {
                        border: 1px solid $experiencegreenbutton;
                        border-radius: 40px;
                        width: 40vw;
                        height: 3vw;
                        background-color: $experiencegreenbutton;
                        padding: 2vw;
                        margin: 12vh 0 0 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                                font-family: 'Inter', sans-serif;
                                text-decoration: none;
                                color: $learnmorebutton;
                                text-align: center;
                                font-size: 3vw;
                        }
                    }
                }
            }
            // SKILLS SECTION
            #skillstabletcontainer {
                #skillstablet {
                    background-color: $skillsteal;
                    color: white;
                    height: 190vh;
                    // Top of the skills section
                    .topskillstablet {
                        display: flex;
                        .titletablet {
                            margin: 4vh 0 0 5vh;
                            h1 {
                                font-size: 10vw;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                    }
                    // Bottom of Skills section
                    .botskillstablet {
                        margin: 4vh 0 0 0;
                        // First Circles Div
                        .skillcirclestablet {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 7vh;
                            // margin: 4vh 0 0 0;
                            // Big Back Circle
                            .bigcircletablet {
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                width: 50vw;
                                height: 50vw;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                .lilcircletablet {
                                    border: 3px solid white;
                                    border-radius: 50%;
                                    width: 25vw;
                                    height: 25vw;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: $mainblue;
                                    font-family: 'Julius Sans One', sans-serif;
                                    text-align: center;
                                    padding: 1vh;
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                    }
                                }
                            }
                        }
                        // front row of icons
                        .iconsfirstrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 2vw;
                            margin: 4vh 0 0 0;
                            .html {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1vh;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 1vh;
                                width: 20vw;
                                height: 20vw;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #html {
                                    width: 10vw;
                                    height: 10vw;
                                }
                                p {
                                    color: white;
                                    font-size: 3vw;
                                    font-family: 'Julius Sans One', sans-serif;
                                }
                            }
                            .css {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 1vh;
                                width: 20vw;
                                height: 20vw;
                                gap: 1vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #css {
                                    width: 10vw;
                                    height: 10vw;
                                }
                                p {
                                    color: white;
                                    font-size: 3vw;
                                    font-family: 'Julius Sans One', sans-serif;
                                }
                            }
                            .reactjs {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 1vh;
                                width: 20vw;
                                height: 20vw;
                                gap: 2vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #reactjs {
                                    width: 10vw;
                                    height: 8vw;
                                }
                                p {
                                    color: white;
                                    font-size: 3vw;
                                    font-family: 'Julius Sans One', sans-serif;
                                }
                            }
                        }
                        // second row of icons
                        .iconssecondrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 2vw;
                            margin: 2vh 0 0 0;
                            .sass {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 1vh;
                                width: 20vw;
                                height: 20vw;
                                gap: 1.5vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #sass {
                                    width: 9vw;
                                    height: 9vw;
                                }
                                p {
                                    color: white;
                                    font-size: 3vw;
                                    font-family: 'Julius Sans One', sans-serif;
                                }
                            }
                            .figma {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 1vh;
                                width: 20vw;
                                height: 20vw;
                                gap: 1.5vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #figma {
                                    width: 8vw;
                                    height: 8vw;
                                }
                                p {
                                    color: white;
                                    font-size: 3vw;
                                    font-family: 'Julius Sans One', sans-serif;
                                }
                            }
                            .react-native {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                border-radius: 10px;
                                border-radius: 50%;
                                padding: 1vh;
                                width: 20vw;
                                height: 20vw;
                                gap: 0.5vh;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                #react-native {
                                    width: 11vw;
                                    height: 11vw;
                                }
                                p {
                                    color: white;
                                    font-size: 3vw;
                                    text-align: center;
                                    font-family: 'Julius Sans One', sans-serif;
                                }
                            }
                        }

                        // SECOND BIG CIRCLE TABLET
                        .responsivedesigndivtablet {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .bigcircletwotablet {
                                margin: 12vh 0 0 0vw;
                                border: 1px solid $mainblue;
                                background-color: $mainblue;
                                width: 50vw;
                                height: 50vw;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: 2px 2px 3px $boxshadowcircles;
                                .lilcircletwotablet {
                                    border: 3px solid white;
                                    border-radius: 50%;
                                    width: 30vw;
                                    height: 30vw;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: $mainblue;
                                    font-family: 'Julius Sans One', sans-serif;
                                    text-align: center;
                                    padding: 1vh;
                                    .technologiestablet {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 1vh;
                                        p {
                                            color: white;
                                            font-size: 3vw;
                                            // background-color: blueviolet;
                                        }
                                    }
                                }
                            }
                            .iconsthirdrowtablet {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2vw;
                                margin: 4vh 0 0 0;
                                .javascript {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: .5vh;
                                    border: 1px solid $mainblue;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 1vh;
                                    width: 20vw;
                                    height: 20vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #javascript {
                                        width: 12vw;
                                        height: 12vw;
                                    }
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                        font-family: 'Julius Sans One', sans-serif;
                                    }
                                }
                                .python {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1vh;
                                    border: 1px solid $mainblue;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 1vh;
                                    width: 20vw;
                                    height: 20vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #python {
                                        width: 12vw;
                                        height: 12vw;
                                    }
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                        font-family: 'Julius Sans One', sans-serif;
                                    }
                                }
                                .nodejs {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1vh;
                                    border: 1px solid $mainblue;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 1vh;
                                    width: 20vw;
                                    height: 20vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #nodejs {
                                        width: 10vw;
                                        height: 10vw;
                                    }
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                        font-family: 'Julius Sans One', sans-serif;
                                    }
                                }
                            }
                            .iconsfourthrowtablet {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2vw;
                                margin: 4vh 0 0 0;
                                .mongo {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1vh;
                                    border: 1px solid $mainblue;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 1vh;
                                    width: 20vw;
                                    height: 20vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #mongo {
                                        margin: -1vh 0 0 0;
                                        width: 4vw;
                                        height: 10vw;
                                    }
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                        font-family: 'Julius Sans One', sans-serif;
                                    }
                                }
                                .firebase {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1vh;
                                    border: 1px solid $mainblue;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 1vh;
                                    width: 20vw;
                                    height: 20vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #firebase {
                                        margin-top: -3vh;
                                        width: 13vw;
                                        height: 13vw;
                                    }
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                        font-family: 'Julius Sans One', sans-serif;
                                    }
                                }
                                .heroku {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1.5vh;
                                    border: 1px solid $mainblue;
                                    background-color: $mainblue;
                                    border-radius: 10px;
                                    border-radius: 50%;
                                    padding: 1vh;
                                    width: 20vw;
                                    height: 20vw;
                                    box-shadow: 2px 2px 3px $boxshadowcircles;
                                    #heroku {
                                        width: 10vw;
                                        height: 10vw;
                                    }
                                    p {
                                        color: white;
                                        font-size: 3vw;
                                        font-family: 'Julius Sans One', sans-serif;
                                    }
                                }
                            }
                        }
                    }

                }
            }
            // PORTFOLIO SECTION
            #portfoliotabletcontainer {
                #portfoliotabletdiv {
                    background-color: $mainblue;
                    color: white;
                    height: 100vh;
                    .topportfoliotablet {
                        display: flex;
                        .titlemobile {
                            margin: 4vh 0 0 5vh;
                            h1 {
                                font-size: 10vw;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                    }
                    .botportfoliomobile {
                        display: flex;
                        flex-direction: column;
                        .portfoliooutline {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 7vh;
                            margin: 0 0 0 0;
                            gap: 6vh;
                            .app1 {
                                border: 1px solid $portfolios;
                                background-color: $portfolios;
                                border-radius: 10px;
                                height: 30vw;
                                width: 78vw;
                                .app1cover {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 6vh 0 0 0;
                                    width: 100%;
                                    a {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        text-decoration: none;
                                        gap: 1vh;
                                        margin-top: -3vh;
                                        img {
                                            width: 15vw;
                                            height: 15vw;
                                        }
                                        p {
                                            font-size: 4vw;
                                            font-family: 'Julius Sans One', sans-serif;
                                            // font-weight: bold;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            .app2 {
                                border: 1px solid $portfolios;
                                background-color: $portfolios;
                                border-radius: 10px;
                                height: 30vw;
                                width: 78vw;
                                .app2cover {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 6vh 0 0 0;
                                    width: 100%;
                                    a {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        img {
                                            margin: 2vh 0 0 0;
                                            width: 45vw;
                                            height: 7vw;
                                            flex-shrink: 0;
                                        }
                                        p {
                                            font-size: 4vw;
                                            font-family: 'Julius Sans One', sans-serif;
                                            // font-weight: bold;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            .app3 {
                                border: 1px solid $portfolios;
                                background-color: $portfolios;
                                border-radius: 10px;
                                height: 30vw;
                                width: 78vw;
                                .app3cover {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 0 0 0 0;
                                    width: 100%;
                                    a {
                                        img {
                                            width: 25vw;
                                            height: 30vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #desktopcontainer {
                display: none;
            }
        }  
    }
}