@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media screen and (min-width: 500px) and (max-width: 1000px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body #mobilecontainer {
    display: none;
  }
  * body #tabletcontainer #tablethome {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body #tabletcontainer #tablethome .tophometablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  * body #tabletcontainer #tablethome .tophometablet .logotablet {
    margin: 2vh 0 0 5vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .logotablet img {
    width: 23vw;
    height: 23vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 40px;
    background-color: #36395D;
    width: 20vw;
    height: 6vh;
    margin: 0 7vw 0 0;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletburger {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletburger.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose img {
    width: 10vw;
    height: 10vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
    height: 10vw;
    transition: 0.6s;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet.is-active {
    color: white;
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: 0 0 0 0;
    transition: 0.8s;
    z-index: 95;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .tabletlogohome {
    margin: 5vh 15vw 0 0;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .tabletlogohome .navlogotablet {
    margin: -2vh 0 0 5vw;
    width: 23vw;
    height: 23vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .tabletlisthome a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .slidesocialstablethome {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .slidesocialstablethome img {
    width: 8vw;
    height: 8vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home.slide-in {
    left: 0;
  }
  * body #tabletcontainer #tablethome .bothometablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 0 0;
  }
  * body #tabletcontainer #tablethome .bothometablet .phototablet img {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
  }
  * body #tabletcontainer #tablethome .bothometablet .nameheadertablet {
    margin: 6vh 0 0 0;
  }
  * body #tabletcontainer #tablethome .bothometablet .nameheadertablet #nametablet {
    font-size: 7vw;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
  }
  * body #tabletcontainer #tablethome .bothometablet .nameheadertablet #jobdescriptablet {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #B7BCD6;
    font-size: 4vw;
  }
  * body #tabletcontainer #tablethome .bothometablet .catchphrasetablet {
    margin: 4vh 0 0 0;
    text-align: center;
  }
  * body #tabletcontainer #tablethome .bothometablet .catchphrasetablet #catchphrasetablet {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 3vw;
  }
  * body #tabletcontainer #tablethome .bothometablet .portfoliobuttontablet {
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    padding: 2vw;
    width: 40vw;
    height: 3vw;
    text-align: center;
    margin: 10vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body #tabletcontainer #tablethome .bothometablet .portfoliobuttontablet a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #EBEBEB;
    font-size: 3vw;
  }
  * body #tabletcontainer #abouttabletcontainer #abouttablet {
    background-color: #0E4946;
    color: white;
    height: 100vh;
  }
  * body #tabletcontainer #abouttabletcontainer #abouttablet .topabouttablet {
    display: flex;
  }
  * body #tabletcontainer #abouttabletcontainer #abouttablet .topabouttablet .titletablet {
    margin: 5vh 0 0 5vh;
  }
  * body #tabletcontainer #abouttabletcontainer #abouttablet .topabouttablet .titletablet h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #tabletcontainer .botabouttablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
    margin: 4vh 0 0 0;
  }
  * body #tabletcontainer .botabouttablet .infotablet {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding: 5vh;
    font-size: 3vw;
  }
  * body #tabletcontainer .botabouttablet .resumetablet {
    border: 1px solid #476D6B;
    border-radius: 40px;
    width: 40vw;
    height: 3vw;
    background-color: #476D6B;
    padding: 2vw;
    margin: 12vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body #tabletcontainer .botabouttablet .resumetablet a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #EBEBEB;
    text-align: center;
    font-size: 3vw;
  }
  * body #skillstabletcontainer #skillstablet {
    background-color: #146166;
    color: white;
    height: 190vh;
  }
  * body #skillstabletcontainer #skillstablet .topskillstablet {
    display: flex;
  }
  * body #skillstabletcontainer #skillstablet .topskillstablet .titletablet {
    margin: 4vh 0 0 5vh;
  }
  * body #skillstabletcontainer #skillstablet .topskillstablet .titletablet h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet {
    margin: 4vh 0 0 0;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .skillcirclestablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .skillcirclestablet .bigcircletablet {
    border: 1px solid #080E2F;
    background-color: #080E2F;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .skillcirclestablet .bigcircletablet .lilcircletablet {
    border: 3px solid white;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080E2F;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    padding: 1vh;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .skillcirclestablet .bigcircletablet .lilcircletablet p {
    color: white;
    font-size: 3vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 4vh 0 0 0;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .html #html {
    width: 10vw;
    height: 10vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .html p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    gap: 1vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .css #css {
    width: 10vw;
    height: 10vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .css p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .reactjs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    gap: 2vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .reactjs #reactjs {
    width: 10vw;
    height: 8vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .reactjs p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2vh 0 0 0;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .sass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    gap: 1.5vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .sass #sass {
    width: 9vw;
    height: 9vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .sass p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .figma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    gap: 1.5vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .figma #figma {
    width: 8vw;
    height: 8vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .figma p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .react-native {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    gap: 0.5vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .react-native #react-native {
    width: 11vw;
    height: 11vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .iconssecondrow .react-native p {
    color: white;
    font-size: 3vw;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .bigcircletwotablet {
    margin: 12vh 0 0 0vw;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .bigcircletwotablet .lilcircletwotablet {
    border: 3px solid white;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080E2F;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    padding: 1vh;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .bigcircletwotablet .lilcircletwotablet .technologiestablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .bigcircletwotablet .lilcircletwotablet .technologiestablet p {
    color: white;
    font-size: 3vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 4vh 0 0 0;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .javascript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .javascript #javascript {
    width: 12vw;
    height: 12vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .javascript p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .python {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .python #python {
    width: 12vw;
    height: 12vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .python p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .nodejs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .nodejs #nodejs {
    width: 10vw;
    height: 10vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsthirdrowtablet .nodejs p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 4vh 0 0 0;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .mongo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .mongo #mongo {
    margin: -1vh 0 0 0;
    width: 4vw;
    height: 10vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .mongo p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .firebase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .firebase #firebase {
    margin-top: -3vh;
    width: 13vw;
    height: 13vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .firebase p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .heroku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    border: 1px solid #080E2F;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 1vh;
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .heroku #heroku {
    width: 10vw;
    height: 10vw;
  }
  * body #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndivtablet .iconsfourthrowtablet .heroku p {
    color: white;
    font-size: 3vw;
    font-family: "Julius Sans One", sans-serif;
  }
  * body #desktopcontainer {
    display: none;
  }
}/*# sourceMappingURL=tablet.css.map */