@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media screen and (min-width: 500px) and (max-width: 1000px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body #mobilecontainer {
    display: none;
  }
  * body #tabletcontainer #tablethome {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body #tabletcontainer #tablethome .tophometablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body #tabletcontainer #tablethome .tophometablet .logotablet {
    margin: 2vh 0 0 0;
  }
  * body #tabletcontainer #tablethome .tophometablet .logotablet img {
    width: 23vw;
    height: 23vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 40px;
    background-color: #36395D;
    width: 20vw;
    height: 6vh;
    margin: 2vh 0 0 35vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletburger {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletburger.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose img {
    width: 10vw;
    height: 10vw;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
    height: 10vw;
    transition: 0.6s;
  }
  * body #tabletcontainer #tablethome .tophometablet .hamburgertablet.is-active {
    color: white;
    font-size: 3vw;
    transition: 0.3s;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: 0 0 0 0;
    transition: 0.8s;
    z-index: 95;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .tabletlogohome {
    margin: 5vh 15vw 0 0;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .tabletlogohome .navlogotablet {
    margin: -2vh 0 0 5vw;
    width: 23vw;
    height: 23vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .tabletlisthome a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .slidesocialstablethome {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home .slidesocialstablethome img {
    width: 8vw;
    height: 8vw;
  }
  * body #tabletcontainer #tablethome .tablet-nav-home.slide-in {
    left: 0;
  }
  * body #tabletcontainer #tablethome .bothometablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 0 0;
  }
  * body #desktopcontainer {
    display: none;
  }
}/*# sourceMappingURL=tablet.css.map */